h1{
    color: rgb(255, 0, 0);
    text-align: center;
    text-decoration: overline underline red 34px; 
}
h2{
color: red;
}
h3{
    color: blue;
}
body{
    width: 50%;
    border: 1px solid black;
    margin: auto;
}
li{
    display: inline-block;
    width: 30%;;
    background-color: yellow;
}
a{
    text-decoration: none;
    color: inherit;
}